<h1><%= @post["place_id"] %></h1>
<h2><%= @post["title"] %></h2>
<h3><%= @post["posted_on"] %></h3>

<ul>
  <li><%= @post["description"] %></li>
</ul>

<p><a href="/places/<%= @place["id"] %>">Back to <%= @place["name"] %></a></p>